#jessica{
    text-align: center;
}

h3{
    font-size: 2rem;
    padding: 1rem;
}
h2{
    padding: 1rem;
    padding-bottom: 1.5rem;
}

img{
    width: 300px;
    height: auto;
    margin: auto;
    display: flex;
}

