#currentStoryInputs{
    background-color: rgb(155, 155, 155);
    margin: 1rem;
    padding: 1rem;
}

#buttonArea{
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#newStory{
    background-color: blueviolet;
}

#storySummary{
    font-size: 2rem;
}